<h1>House <%= facade.house_name %></h1>
<p><%= facade.member_count %> Members</p>
<ul>
  <% facade.members.each do |member| %>
    <li class='member-list'>
      <p class='member-name'><%= member.name %></p>
      <ul>
        <li class='member-id'>ID: <%= member.id %></li>
      </ul>
    </li>
  <% end %>
</ul>